{% extends 'base.html.twig' %}

{% block title %}Listado de tareas{% endblock %}

{% block body %}

<div class="example-wrapper">
        <h2>Todas las tareas</h2>

        <table>
                <tr>
                        <th>Tarea</th>
                        <th>Prioridad</th>
                        <th>Horas presupuestadas</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                </tr>
                {% for task in tasks %}
                        <tr>
                                <td>{{ task.title }}</td>
                                <td>
                                {% if task.priority == "Hight" %}
                                        {{ 'Alta' }}
                                {% endif %}
                                {% if task.priority == "Medium" %}
                                        {{ 'Media' }}
                                {% endif %}
                                {% if task.priority == "Low" %}
                                        {{ 'Bajo' }}
                                 {% endif %}
                                </td>
                                <td>{{ task.hours }}</td>
                                <td class="button-view">
                                    <a href="{{ path('taks_detail', {'id': task.id}) }}">Ver</a>
                                </td>
                                <td class="button-view">
                                        <a href="" class="edit">Editar</a>
                                </td>
                                <td class="button-view">
                                        <a href="" class="delete">Eliminar</a>
                                </td>
                        </tr>
                {% endfor %}
        </table>
</div>
{% endblock %}
