<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('Assets/css/styles.css') }}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="header">
            <h1>Tareas Symfony</h1>
            <ul id="menu">

                {% if app.user %}
                    <li><a href="{{ path('task') }}">Inicio</a></li>
                    <li><a href="">Mis tareas</a></li>
                    <li class="right"><a href="">{{ app.user.name ~" "~ app.user.surname }}</a></li>
                    <li class="right"><a href="{{ path('logout') }}">Cerrar sesión</a></li>

                {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('register') }}">Registro</a></li>
                {% endif %}
            </ul>
            </div>
            <div class="clearfix"></div>

        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
